<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--命名空间 确定方法所在的类-->
<mapper namespace="io.github.tanghuibo.codecollectionserver.dao.CodeCollectionDao">

    <resultMap id="result" type="io.github.tanghuibo.codecollectionserver.bean.CodeCollectionBean">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="desc" jdbcType="VARCHAR" property="desc" />
        <result column="code" jdbcType="VARCHAR" property="code" />
    </resultMap>


    <insert id="insertList">
        insert into code_collection(name, desc, code) values 
        <foreach collection="list" item="item" separator=",">
            (#{item.name, jdbcType=VARCHAR}, #{item.desc, jdbcType=VARCHAR}, #{item.code, jdbcType=VARCHAR})
        </foreach>
    </insert>

    <update id="updateById">
        update
            code_collection
        set
            name = #{data.name, jdbcType=VARCHAR},
            desc = #{data.desc, jdbcType=VARCHAR},
            code = #{data.code, jdbcType=VARCHAR}
         where id = #{id}
    </update>

    <select id="selectAll" resultMap="result">
        select id, name, desc, code from code_collection
    </select>
</mapper>